* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-gradient: linear-gradient(
        to right top,
        rgb(171, 136, 240),
        rgb(113, 124, 217)
    );
    --text-color: rgb(54, 50, 85);
    --text-color-hover: rgb(24, 20, 55);
}

h1 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,
p {
    color: var(--text-color);
    font-weight: 500;
    opacity: 0.8;
}

h3 {
    color: var(--text-color);
    font-weight: 600;
    opacity: 0.8;
}

main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: var(--main-gradient);
    display: flex;
    align-items: center;
    justify-content: center;
}

.glass {
    background: white;
    min-height: 80vh;
    width: 80%;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem;
    z-index: 2;
    backdrop-filter: blur(1rem);
    display: flex;
}

.circle1,
.circle2 {
    background: white;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.8),
        rgba(255, 255, 255, 0.3)
    );
    position: absolute;
    border-radius: 50%;
}

.circle1 {
    width: 15rem;
    height: 15rem;
    top: 5%;
    right: 5%;
}
.circle2 {
    width: 10rem;
    height: 10rem;
    bottom: 5%;
    left: 5%;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    border-radius: 2rem 0 0 2rem;
}

.user {
    margin: 3rem;
}

.user img {
    width: 50%;
    border-radius: 50%;
}

.links {
    width: 100%;
}

.link {
    display: flex;
    padding: 2rem 4rem;
    align-items: center;
    text-decoration: none;
    background: inherit;
    transition: 0.5s;
}
.link img {
    filter: grayscale(90%);
    transition: 0.5s;
    width: 3rem;
}
.link h2 {
    transition: 0.5s;
}
.link:last-child {
    border-bottom-left-radius: 2rem;
}

.link:hover {
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.5)
    );
    box-shadow: 3px 3px 10px rgba(122, 122, 122, 0.2);
}
.link:hover img {
    filter: grayscale(0);
}
.link:hover h2 {
    color: var(--text-color-hover);
}

.link h2 {
    margin-left: 6rem;
}

.games {
    flex: 2;
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card {
    display: flex;
    background: linear-gradient(
        to left top,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 2rem 0;
    padding: 1rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.2);
}

.card img {
    width: 5rem;
    border-radius: 0.5rem;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 1rem;
}

.card-info h2 {
    font-weight: 700;
}
